@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap");


@font-face {
    font-family: "inconsolata";
    src: url("/Alumni_Sans_Collegiate_One.zip");
}

p {
    font-family: "", cursive;
    font-size: x-large;
    color: green;
    background-color: purple;
    padding: 20px 20px;
}

body {
    background-color: black;
}

h1 {
    font-family: "Alumni Sans Collegiate One";
    font-size: x-large;
    color: white;
    background-color: purple;
    padding: 20px 20px;
}